@charset "UTF-8";

body { font-family: Verdana, Helvetica, Arial; background-color: #EEEEEE; font-size: 12px; }

img { border:none; height:auto; max-width:100%; }

.PageBreak {}

.TitleEntry { font-size: 12px; border: 1px solid #444444; text-align: center; margin-bottom: 12px }
.TitleEntry h1 { font-size: 22px; }
.TitleEntry h2 { font-size: 20px; }
.TitleEntry .Hint { font-size: 12px; padding: 6px }
.TitleEntry .Description { border-top: 1px solid #444444; padding: 8px; }

.Header { border: 1px solid #444444; text-align: left; margin-top: 16px; margin-bottom: 2px; font-size: 12px; }
.Header th { text-align:left; font-size: 12px; }
.Header td { text-align: left; font-size: 12px; }
.ResultStateIcon { width: 16px; }
.DynamicAttributes { border-top:1px solid #444444; table-layout: fixed; width: 100%; }
.StaticAttributes { border-top: 1px solid #444444; table-layout: fixed; width: 100%; }
.Title { font-weight: bold; }

.Project .Title { background-color: #003366; color: #FFFFFF; width: 100%; }
.Folder .Title { background-color: #6699FF; color: #000000; width: 100%; }
.Sequence .Title { background-color: #99CCFF; color: #000000; width: 100%; }
.Block .Title { background-color: #BBDDFF; color: #000000; width: 100%; }

.BlockReport { _height:1%; border: 1px solid #555555; margin-top: 2px; margin-bottom: 16px; padding: 4px; }
.SubReport { _height:1%; border: 1px dashed #555555; margin-top: 2px; margin-bottom: 16px; padding: 4px; }

.LinkBlock { margin-top: 4px; margin-bottom: 4px; }

.ImageBlock { margin-top: 4px; margin-bottom: 8px; }
.ImageBlock .Title { background-color: #EEEEEE; color: #000000;  }
.ImageBlock .Caption {}
.ImageBlock .Description { margin-top: 0.5ex; }

.ReportLink { margin-top: 4px; margin-bottom: 4px; }
.ReportLink .LinkText {}
.ReportLink .Description { font-style: italic; }

.TableBlock { _height:1%; border:1px solid #555555; margin-top: 4px; margin-bottom: 8px; border-collapse: collapse; empty-cells: show; width: 100%; font-size: 12px; }
.TableBlock th { background-color: #DDDDDD; border:1px solid #555555; }
.TableBlock td { border:1px solid #555555; }

.TimeStampBlock { font-size: 12px; }

.TextBlock1 { margin-top: 4px; margin-bottom: 4px; font-size: 6px; }
.TextBlock2 { margin-top: 4px; margin-bottom: 4px; font-size: 8px; }
.TextBlock3 { margin-top: 4px; margin-bottom: 4px; font-size: 10px; }
.TextBlock4 { margin-top: 4px; margin-bottom: 4px; font-size: 12px; }
.TextBlock5 { margin-top: 4px; margin-bottom: 4px; font-size: 14px; }
.TextBlock6 { margin-top: 4px; margin-bottom: 4px; font-size: 16px; }
.TextBlock7 { margin-top: 4px; margin-bottom: 4px; font-size: 18px; }
.TextBlock8 { margin-top: 4px; margin-bottom: 4px; font-size: 20px; }
.TextBlock9 { margin-top: 4px; margin-bottom: 4px; font-size: 22px; }
.TextBlock10 { margin-top: 4px; margin-bottom: 4px; font-size: 24px; }

.ExecutedDecision  {border:1px solid #CCCCCC;  margin-top:2px; padding:2px; }
.PassedDecision    {border:1px solid #CCCCCC;  background-color: #D3FFCA; margin-top:2px; margin-bottom:2px; padding:2px; }
.UndefinedDecision {border:1px solid #CCCCCC;  background-color: #FFFFD4; margin-top:2px; margin-bottom:2px; padding:2px;}
.FailedDecision    {border:1px solid #CCCCCC;  background-color: #FFCACA; margin-top:2px; margin-bottom:2px; padding:2px;}
.ErrorDecision     {border:1px solid #FF0000;  color:#FF0000; background-color: #FFFFFF; margin-top:2px; margin-bottom:2px; padding:2px;}

.ExecutedDecision pre  {margin:0pt;padding:1px;}
.PassedDecision pre    {margin:0pt;padding:1px;}
.UndefinedDecision pre {margin:0pt;padding:1px;}
.FailedDecision pre    {margin:0pt;padding:1px;}
.ErrorDecision pre     {margin:0pt;padding:1px;}